body {
  background: #fff;
}
.loginMain {
  width: 100%;
  position: relative;
}
.loginMain .loginB {
  width: 100%;
}
.loginMain .loginRegister {
  width: 100%;
  position: relative;
  text-align: center;
  margin-top: 10.875rem;
  display: none;
}
.loginMain .loginRegister span {
  display: block;
  color: #d1d1d1;
  font-size: 0.8125rem;
}
.loginMain .loginRegister a {
  color: #3D93FF;
  text-decoration: none;
}
.loginMain .loginBox {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding-top: 1.75rem;
}
.loginMain .loginBox .Title {
  font-size: 1.875rem;
  color: #fff;
  display: block;
}
.loginMain .loginBox .portrait {
  width: 5.625rem;
  height: 5.625rem;
  margin-top: 4.375rem;
}
.loginMain .loginBox .loginNP {
  width: 18.75rem;
  margin: 0 auto;
  display: block;
  padding-top: 2.6875rem;
}
.loginMain .loginBox .loginNP input {
  width: 100%;
  border-bottom: 2px solid #f5f5f5;
  height: 2.03125rem;
  line-height: 2.03125rem;
  margin-bottom: 0.9375rem;
  font-size: 1rem;
  font-weight: normal;
}
.loginMain .loginBox .loginNP input:nth-last-child {
  margin-bottom: 0;
}
.loginMain .loginBox .loginB {
  width: 18.75rem;
  margin: 0 auto;
  margin-top: 2.25rem;
  height: 3.75rem;
  color: #fff;
  text-align: center;
  line-height: 3.75rem;
  background: url("../images/login/loginButton.png") center center;
  background-size: 100% 100%;
  font-size: 1.125rem;
}
.loginMain .loginBox .forget {
  width: 18.75rem;
  margin: 0 auto;
  margin-top: 1.5625rem;
  overflow: hidden;
  display: none;
}
.loginMain .loginBox .forget span {
  font-size: 0.8125rem;
  color: #d1d1d1;
  float: right;
}
input::-webkit-input-placeholder {
  color: #d1d1d1;
}
.conpanyIn {
  width: 100%;
}
.conpanyIn li {
  width: 100%;
}
.conpanyIn li img {
  width: 100%;
}
.PlayerMain {
  width: 100%;
}
.PlayerMain video {
  width: 100%;
}
.insuranceMain {
  background: #f5f5f5;
  width: 100%;
  height: 100%;
  padding-top: 0.625rem;
}
.insuranceMain .insuranceBox {
  width: 100%;
  background: #FAFAFA;
  margin-bottom: 0.625rem;
}
.insuranceMain .insuranceBox .insuranceTile {
  padding: 0.9375rem 0;
  background: #fff;
  display: flex;
  align-items: center;
}
.insuranceMain .insuranceBox .insuranceTile img {
  width: 0.875rem;
  height: 0.9375rem;
  margin: 0 0.75rem;
}
.insuranceMain .insuranceBox .insuranceTile font {
  font-size: 1rem;
}
.insuranceMain .insuranceBox .insuranceTile span {
  font-size: 0.875rem;
  color: #999999;
  margin-left: 0.75rem;
}
.insuranceMain .insuranceBox .insuranceTile p {
  flex: 1;
  text-align: right;
  padding-right: 0.9375rem;
  font-size: 0.875rem;
  font-family: PingFangSC-Regular;
  color: #3398db;
}
.insuranceMain .insuranceBox section {
  width: 100%;
  background: #fafafa;
  padding: 0.3125rem 0.8125rem;
}
.insuranceMain .insuranceBox section dl:first-child {
  margin-bottom: 26 32rem;
}
.insuranceMain .insuranceBox section dl {
  display: flex;
  padding: 0.375rem 0;
}
.insuranceMain .insuranceBox section dl dt {
  display: flex;
  align-items: center;
  width: 5rem;
  height: 5rem;
}
.insuranceMain .insuranceBox section dl dt div {
  width: 5rem;
  height: 5rem;
}
.insuranceMain .insuranceBox section dl dt div img {
  display: inline-block;
  width: 5rem;
  height: 5rem;
}
.insuranceMain .insuranceBox section dl dd {
  padding: 0 0.75rem;
}
.insuranceMain .insuranceBox section dl dd h2 {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  font-family: PingFangSC-Regular;
}
.insuranceMain .insuranceBox section dl dd p {
  font-size: 0.75rem;
  font-family: PingFangSC-Regular;
  color: #999999;
  width: 19.75rem;
  height: 2.125rem;
}
.insuranceMain .insuranceBox .insurancePremium {
  padding: 0.9375rem;
  display: flex;
  justify-content: flex-end;
  background: #fff;
}
.insuranceMain .insuranceBox .insurancePremium font {
  font-size: 1rem;
}
.insuranceMain .insuranceBox .insuranceButton {
  padding: 0.9375rem;
  display: flex;
  justify-content: flex-end;
  background: #fff;
  border-top: 1px solid #f0f0f0;
}
.insuranceMain .insuranceBox .insuranceButton span {
  padding: 0.3125rem 0.9375rem;
  background: #ffffff;
  border-radius: 0.9375rem;
  border: 1px solid #b0b0b0;
  font-family: PingFangSC-Regular;
  color: #444444;
  font-size: 0.875rem;
  margin-left: 0.3125rem;
}
/* 我的 */
.mine-wrap {
  background: #F5F5F5;
  width: 100%;
  height: 100%;
}
.user-msg {
  display: flex;
  background: #fff;
  padding: .4rem;
  cursor: pointer;
  justify-content: space-between;
}
.user-msg > dd {
  margin: .3rem 0;
}
.user-msg > dd > h6 {
  font-size: 1.3rem;
  color: #333333;
  margin-bottom: .6rem;
  font-weight: 600;
}
.user-msg > dd > p {
  color: #8C8C8C;
  font-size: .9rem;
  line-height: 1.7rem;
}
.user-msg > dt > img {
  width: 80%;
  margin-left: 15%;
}
/* 管理列表 */
.user-list > li {
  padding: 0 .3rem;
  display: flex;
  height: 2.5rem;
  cursor: pointer;
  align-items: center;
  background: #fff;
}
.user-list > li:first-child {
  margin: .4rem 0;
}
.user-list > li:nth-child(2) {
  margin-bottom: .4rem;
}
.user-list > li:nth-child(6) {
  margin-top: .4rem;
}
.user-list > li > p:first-child {
  width: 2.5rem;
}
.user-list > li > p:first-child > img {
  width: 1.6rem;
}
.user-list > li > p:last-child {
  flex: 1;
  padding: 0.3rem 0;
  border-bottom: 1px solid #F0F0F0;
  display: flex;
  justify-content: space-between;
}
.user-list > li > p:last-child > b {
  color: #BABABA;
}
.user-list > li:first-child > p,
.user-list > li:nth-child(2) > p,
.user-list > li:nth-child(5) > p {
  border-bottom: none;
}
/* 我的二维码 */
.myCard-wrap {
  background: #F5F5F5;
  width: 100%;
  color: #3B3B3B;
  height: 100%;
}
.myCard-list > li {
  background: #fff;
  padding: 0 .5rem;
  height: 2.5rem;
  align-items: center;
  cursor: pointer;
  display: flex;
  border-bottom: 1px solid #F5F5F5;
}
.myCard-list > li > p:first-child {
  width: 6rem;
}
.myCard-list > li > p:last-child {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.myCard-list > li > p:last-child > span > b {
  color: #B9B9B9;
}
.myCard-list > li:first-child {
  height: 4rem;
}
.myCard-list > li:last-child {
  height: 3rem;
}
.myCard-list > li:first-child img {
  width: 3.5rem;
  margin-right: 0.5rem;
}
.myCard-list > li:last-child img {
  margin-right: 0.5rem;
}
.myCard-list > li span img,
.myCard-list > li span b {
  vertical-align: middle;
}
.myCard-list > li:nth-child(5),
.myCard-list > li:nth-child(8) {
  margin-top: 0.4rem;
}
/* 设置名字 */
.setName-wrap {
  background: #F5F5F5;
  width: 100%;
  height: 100%;
}
/* 我的二维码 */
.qr-code-wrap {
  background: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.qr-code-box {
  display: flex;
  flex-direction: column;
  margin-top: 40%;
  align-items: center;
}
.qr-code-box > h6 {
  color: #42A0DE;
  font-size: 1.2rem;
  font-weight: normal;
}
.qr-code-box > div {
  margin: 2rem 0;
}
.qr-code-box > div > img {
  height: 12rem;
}
.qr-code-box > p {
  color: #9B9B9B;
  font-size: .9rem;
}
/* 被保人告知 */
.inform-wrap {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  background: #F5F5F5;
}
.inform-wrap .inform-user {
  display: flex;
  align-items: center;
  height: 3.8rem;
  background: #fff;
  border-bottom: 1px solid #F0F0F0;
}
.inform-wrap .inform-user > div {
  flex: 1;
  text-align: center;
  position: relative;
}
.inform-wrap .inform-user > div.active {
  color: #3398DB;
}
.inform-wrap .inform-user > div.active > b {
  display: block;
}
.inform-wrap .inform-user > div > b {
  position: absolute;
  bottom: -0.9rem;
  display: none;
  left: 40%;
  border-radius: .1rem;
  height: 0.3rem;
  width: 2rem;
  background: #3398DB;
}
.inform-wrap .inform-list {
  background: #fff;
  margin-top: 0.5rem;
  padding: 0.2rem;
  font-size: 1.35rem;
}
.inform-wrap .inform-list dl > dt {
  border-bottom: 1px solid #DCDCDC;
  display: flex;
  min-height: 3.8rem;
  align-items: center;
}
.inform-wrap input {
  outline: 0;
}
.inform-wrap input[type='radio'] {
  zoom: .7;
  width: 10%;
  position: absolute;
  right: .4rem;
}
.inform-wrap .inform-list dl > dd {
  border-bottom: 1px solid #DCDCDC;
}
.inform-wrap .inform-list dl > dd > p {
  display: flex;
  line-height: 3rem;
  padding-left: 0.5rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.inform-wrap .inform-list dl > dd > p > span:first-child {
  width: 35%;
}
.inform-wrap .inform-list dl > dd > p > span:last-child {
  width: 65%;
  position: relative;
  height: 3rem;
}
.inform-wrap .inform-list .is-fill-in {
  color: #666;
  display: none;
  position: relative;
}
.inform-wrap .inform-list .is-fill-in > span {
  position: absolute;
  left: 0.3rem;
  top: -0.3rem;
}
.inform-wrap .inform-list .is-fill-in > input {
  padding-left: 30%;
}
/* 提交 */
.inform-wrap .on-submit {
  width: 100%;
  height: 3.8rem;
  cursor: pointer;
}
.inform-wrap .submit-btn {
  width: 100%;
  display: inline-block;
  background: #3398DB;
  height: 100%;
  border: 0;
  color: #fff;
  font-size: 1.6rem;
}
/* 单选框样式按钮 */
input[type="radio"] {
  opacity: 0;
  position: relative;
  z-index: 22;
}
input[type="radio"] + label {
  position: relative;
  padding-left: 30px;
  line-height: 20px;
  color: #333;
  font-weight: normal;
  margin-left: 2px;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  position: absolute;
  right: 1rem;
  top: -0.55rem;
}
input[type="radio"] + label::before {
  content: "";
  width: 35px;
  height: 35px;
  border-radius: 35px;
  border: 1px solid #cecece;
  position: absolute;
  left: 0;
}
input[type="radio"]:checked + label::after {
  top: 9px;
  left: 10px;
  content: "";
  background-color: #3398DB;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  position: absolute;
  vertical-align: middle;
}
